In [1]:
import os ,csv
import pandas as pd

In [2]:
# 현재 경로 확인 
print(os.getcwd())

C:\Forecast-of-market-price

In [3]:
files = os.listdir('./data/output')[:-3] # -3을 한 이유 -> 잘못받아와서 
for file in files:
    print(file)

2015-01-01_Baechu.csv
2015-04-01_Baechu.csv
2015-07-01_Baechu.csv
2015-10-01_Baechu.csv
2016-01-01_Baechu.csv
2016-04-01_Baechu.csv
2016-07-01_Baechu.csv
2016-10-01_Baechu.csv
2017-01-01_Baechu.csv
2017-04-01_Baechu.csv
2017-07-01_Baechu.csv
2017-10-01_Baechu.csv
2018-01-01_Baechu.csv
2018-04-01_Baechu.csv
2018-07-01_Baechu.csv
2018-10-01_Baechu.csv
2019-01-01_Baechu.csv
2019-04-01_Baechu.csv

In [9]:
path = f'./data/output/{files[0]}'
print(path)

./data/output/2015-01-01_Baechu.csv

In [12]:
df   = pd.read_csv(path, encoding='euc-kr')

In [ ]:
pd.concat([df1,df2])

In [13]:
df

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,50,51,52,53,54,55,56,57,58,59
0,date,2015-01,2015-01,2015-01,2015-01,2015-01,2015-01,2015-01,2015-01,2015-01,...,2015-03,2015-03,2015-03,2015-03,2015-03,2015-03,2015-03,2015-03,2015-03,2015-03
1,avg,"3,800","3,800","3,800","3,800","3,800","3,800","3,800","3,800","3,800",...,"4,900","5,000","4,900","5,100","5,100","5,100","5,100","5,100","5,000","5,000"
2,가을,"4,000","4,000","4,000",-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
3,월동,-,-,-,"4,000","4,000","4,000","4,000","4,000","4,000",...,"6,000","6,000","5,500","5,500","5,500","5,500","5,500","5,500","5,000","5,000"